@import url('https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap');

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: #1D1D1D;
    margin: 0;
}

#root {
    height: 100%;
    width: 100%;
}