@import "components/_variables.scss";

.repository-card {
    width: 90%;
    padding: 10px;       
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow .5s;

    &:hover {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    }

    &__github-logo {
        width: 75%;
    }

    a {
        color: $text-color;
        text-decoration: none;
    }

    &__description {
        color: $gray;
    }

}

.repository-card-list .repository-card {
    margin-bottom: 10px;
}
