.show-me {
    opacity: 100%;
    transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
}

.hide-me {
    opacity: 0%;
    transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
}

.hide-left {
    left: -100px;
    transition: left 1s ease-in-out;
    -moz-transition: left 1s ease-in-out;
    -webkit-transition: left 1s ease-in-out;
}

.slide-right {
    left: 0;
    transition: left 1s ease-in-out;
    -moz-transition: left 1s ease-in-out;
    -webkit-transition: left 1s ease-in-out;
}