.main-text-block {

    color: white;
    
    &__title {
        font-family: 'Caveat', cursive;
        font-size: 60px;
    }

    &__text {
        font-family: 'Lato', sans-serif;
        font-size: 24px;
    }
    
}