@import "components/_variables.scss";

.main-text-block {

    color: $text-color;
    
    &__content {

        &__hide {
            opacity: 0
        }

        &__show {

            opacity: 1;
            transition: opacity 5s ease;
            -moz-transition: opacity 5s ease;
            -webkit-transition: opacity 5s ease;

            &__title {
                font-family: 'Poiret One', cursive;
                font-weight: 800;
                font-size: 32px;
            }
    
            &__text {
                font-family: 'Raleway', sans-serif;
                font-weight: 400;
                font-size: 18px;
            }

        }

    }
    
}