.user-card {

    display: inline-block;
    height: 100%;
    width: 100%;

    &__image {
        object-fit: cover;
        width: 12vw;
        height: 12vw;
        border-radius: 50%;
        border: 5px rgba(134,147,158,.3) solid;

        @media only screen and (max-width: 900px) {
            width: 30vw;
            height: 30vw;
        }

        &:hover {
            border: 5px rgba(32,39,49, .6) solid;
            transition: border 1s ease;
            -moz-transition: border 1s ease;
            -webkit-transition: border 1s ease;
        }

    }

    &__display-name {
        padding-top: 10px;
        font-size: 24px;
        text-decoration: none;
        color: inherit;
    }

}