.user-card {

    display: inline-block;
    
    &__image {
        opacity: .9;
        object-fit: cover;
        cursor: pointer;
        width: 12vw;
        height: 12vw;
        min-width: 100px;
        min-height: 100px;
        border-radius: 50%;
        border: 5px rgba(134,147,158,.3) solid;
        box-shadow: 0;
        transition: box-shadow .5s ease-in-out;
        -moz-transition: box-shadow .5s ease-in-out;
        -webkit-transition: box-shadow .5s ease-in-out;

        &:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: box-shadow .5s ease-in-out;
            -moz-transition: box-shadow .5s ease-in-out;
            -webkit-transition: box-shadow .5s ease-in-out;
        }

    }

    &__display-name {
        padding-top: 10px;
        font-size: 24px;
        font-weight: 200;
        text-decoration: none;
        color: inherit;
    }

}