.sidebar {
    height: 100%;
    width: 200px; /* Should be a global variable */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #161616;
    overflow-x: hidden;
    padding-top: 20px;

    &__menu-item {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 16px;
        color: #e0e0e0;
        display: block;
        background-color: #303030;
        transition: all .2s ease-in-out !important;

    }
  
    &__menu-item:hover {
        color: #161616;
        font-weight: 400;
        text-decoration: none;
        background-color: #33b1ff;
        transform: perspective(1px) scale(1.1)
    }

    &__horizontal-bar {
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: #474747;
    }

    &__menu-dropdown {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 16px;
        color: white;
        display: block;
        background-color: #2b3c58 !important;
        border-style: none !important;
        width: 100%;
        text-align: left;
    }

    &__menu-dropdown:hover {
        color: rgb(216, 216, 216);
        text-decoration: none;
        background-color: #3b4f6a;
        
    }

}