.contact-page {

    height: 100%;
    width: 100%;

    &__content {
        height: 100%;
        width: 100%;
        background-color: rgb(243, 243, 243);
        overflow: scroll;

        &__title {
            margin-top: 20px;
            margin-bottom: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 400;
            font-size: 45px;
            text-align: center;
        }

        &__form {
            margin-left: 20%;
            margin-right: 20%;
            display: block;
            width: auto;

            &__text-area {
                border-style: solid !important;
                border-width: 1px !important;
                border-color: #8b8b8b !important;
                color: black !important;
            }

            &__submit-button {
                background-color: #121212 !important;
                border-color: #121212 !important;
            }

            &__submit-button:hover {
                background-color: #333333 !important;
                border-color: #121212 !important;
            }

        }

        

    }

}