.contact-page {

    height: 100vh;
    width: 100%;

    &__content {
        height: 100%;
        width: 100%;
        background-image: linear-gradient(#121212, #242424);
        overflow-y: auto;

        &__title {
            margin-top: 10%;
            margin-bottom: 50px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 300;
            font-size: 50px;
            text-align: center;
            color: #89E077;
        }

        &__form {
            margin-left: 30%;
            margin-right: 30%;
            display: block;
            width: auto;
            color: white;

            &__text-area-name {
                border-style: solid !important;
                background-color: #303030 !important;
                border-width: 1px !important;
                border-color: rgb(94, 94, 94) !important;
                color: white !important;
                width: 100%;
                height: 50px;
                border-radius: 0px;
            }

            &__text-area-email {
                border-style: solid !important;
                background-color: #303030 !important;
                border-width: 1px !important;
                border-color: rgb(94, 94, 94) !important;
                color: white !important;
                width: 100%;
                height: 50px;
                border-radius: 0px;
            }

            &__text-area-subject {
                border-style: solid !important;
                background-color: #303030 !important;
                border-width: 1px !important;
                border-color: rgb(94, 94, 94) !important;
                color: white !important;
                height: 50px;
                border-radius: 0px;
            }

            &__text-area-message {
                border-style: solid !important;
                background-color: #303030 !important;
                border-width: 1px !important;
                border-color: rgb(94, 94, 94) !important;
                color: white !important;
                border-radius: 0px;
            }

            &__dropdown-item {
                border-style: solid !important;
                background-color: transparent !important;
                border-width: 1px !important;
                border-color: #8b8b8b !important;
                color: black !important;
            }

            &__submit-button {
                background-color: transparent !important;
                border-color: #89E077 !important;
                color: #89E077 !important;
                transition: all .2s ease-in-out !important;
            }

            &__submit-button:hover {
                background-color: #89E077 !important;
                border-color: #89E077 !important;
                color: black !important;
                transform: perspective(1px) scale(1.09)
            }

        }

        

    }

}