.landing-page {

    height: 100vh;
    width: 100%;
    background-color: rgb(29,29,29);
    overflow: hidden;
    
    &__content-greg {
        height: 100%;
        width: 100%;
        background-image: linear-gradient(#161616, #393939);
        background-repeat: no-repeat;
        background-size: 100%;
        overflow: auto;

        &__container {
            height: 100%;
            width: 100%;

            &__vertical-center {
                margin-top: auto;
                margin-bottom: auto;

                &__contactForm {
                    position: relative;
                    top: -120px;
                }

            }

        }

    }

    &__content {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100%;

        &__container {
            height: 100%;
            width: 100%;

            &__vertical-center {
                margin-top: auto;
                margin-bottom: auto;
              }

        }
    }

}

.main-landing-page {
    background-color: #FDFDFC;
}