.landing-page {

    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    color: #86939e;

    &__content {

        height: 100%;
        width: 100%;

        &__container {

            height: 100%;
            width: 100%;

            &__brand {

                font-size: 48px;
                font-weight: 200;
                letter-spacing: 5px;

                &__sub-title {

                    font-size: 24px;

                }
            }
        }

    }

}

.main-landing-page {

    background: rgb(245, 248, 250);
    transition: all 2s ease;
    -moz-transition: all 2s ease;
    -webkit-transition: all 2s ease;

    &__user-portraits {
        margin-top: 75px;
        margin-bottom: auto;
    }

}

.user-landing-page {
    background: rgb(32,39,49);
    transition: all 2s ease;
    -moz-transition: all 2s ease;
    -webkit-transition: all 2s ease;
}

.hide-tech-image {
    opacity: 0;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

.show-tech-image {
    opacity: 1;
    transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
}