@import "components/_variables.scss";

.landing-page {

    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    color: $gray;

    &__content {

        height: 100%;
        width: 100%;

        &__container {

            height: 100%;
            width: 100%;

            &__content {

                height: 100%;
                width: 100%;

                @media only screen and (max-width: 900px) {
                    margin-top: 75px; 
                    margin-left: 10px;
                    margin-right: 10px;       
                }

            }

            &__brand {

                font-size: 48px;
                font-weight: 200;
                letter-spacing: 5px;

                &__sub-title {

                    font-size: 24px;

                }
            }

        }

    }

}

.main-landing-page {

    background: $background-color;

    &__header {
        margin-bottom: 50px;
    }

    &__user-portraits-info {
        justify-content: center;
        font-size: 16px;
    }

    &__user-portraits {
        margin-top: 25px;
        margin-bottom: auto;
    }

}

.user-landing-page {
    background: $background-color;
}

.hide-tech-image {
    opacity: 0;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

.show-tech-image {
    width: auto;
    max-width: 150px;
    height: auto;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

/*
.show-tech-image:hover {
    cursor: pointer;
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}
*/