.user-landing-page {
  @media only screen and (max-width: 500px) {
    margin-top: 0px;
  }
}

.tech-images {
  padding-left: 25px;
  padding-right: 25px;

  @media only screen and (max-width: 500px) {
    margin-top: 50px;
  }
}
