.contact-page {

    
    color: #c6c6c6;
    margin-left: -140px;
    margin-right: -200px;

    &__title {
        
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 60px;
        white-space: nowrap;
        margin-bottom: 50px;
        margin-top: 60px;
        text-align: left;
    }


}