@import "components/_variables.scss";

.contact-page {

    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    color: $gray;

    &__content {

        height: 100%;
        width: 100%;

        &__container {

            height: 100%;
            width: 100%;

            &__content {

                height: 100%;
                width: 100%;
                margin-left: auto;
                margin-right: auto;       

                @media only screen and (max-width: 900px) {
                    margin-top: 75px; 
            
                }

                &__card {
                    width: 500px;
                    padding: 15px;
                    margin-top: 15px;
                    margin-left: auto;
                    margin-right: auto;

                    @media only screen and (max-width: 600px) {
                        width: 100%;
                    }

                    &__title {
                        font-size: 36px;
                    }

                    &__body {
                        font-size: 18px;

                        @media only screen and (max-width: 900px) {
                            font-size: 18px;
                    
                        }
                    }

                }
            }

        }

    }

}