.repository-card {
    min-height: 200px;
    padding: 10px;
    border: none;

    &__github-logo {
        width: 75%;
    }

    a {
        color: black;
        text-decoration: none;
    }
}

.repository-card-list .repository-card {
    margin-bottom: 10px;
}
