@import "components/_variables.scss";

.repository-card {
    min-height: 200px;
    padding: 10px;
    border: none;

    &__github-logo {
        width: 75%;
    }

    a {
        color: $text-color;
        text-decoration: none;
    }

    &__description {
        color: $gray;
    }

}

.repository-card-list .repository-card {
    margin-bottom: 10px;
}
