@import "components/_variables.scss";

.input-field {
  background-color: $light-gray;
  border-style: solid;
  border-radius: 0px;
  border: 0;

  &:focus {
    border: 1px solid rgb(218, 216, 216);
  }

  &__textarea {
    @extend .input-field;
  }
}
