.gregory-landing-page {

    height: 100%;
    width: 100%;
    

    &__content {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        background-image: linear-gradient(#121212, #242424);

        &__title {
            margin-top: 10%;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 300;
            text-align: left;
            font-size: 70px;
            color: white;
        }

        &__body-text {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 300;
            font-size: 40px;
            margin-top: 5%;
            text-align: left;
            color: white;
        }

    }

}